/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
        rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
        rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
    --font-family: "Encode Sans Expanded", sans-serif;
    --rating-color: #ffc908;
}

@layer components{
    .btn{
        @apply disabled:bg-gray-300 disabled:cursor-not-allowed bg-green-700 text-white py-1.5 w-full cursor-pointer hover:bg-green-900 transition-all duration-200
    }

    .main-input{
        @apply block py-2.5 mt-4 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600
    }

    .main-label{
        @apply absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-2 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto
    }
}

body {
    font-family: "Edu NSW ACT Cursive", cursive;
}

.btn-main {
    background-color: var(--main-color);
    padding: 7px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn-main:disabled {
    cursor: not-allowed;
    background-color: #ccc;
}

.btn-main:disabled:hover {
    background-color: #ccc;
}

.btn-main:hover {
    background-color: #11bd11;
}